@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

/* It's a space site, so it's dark all the time */
body {
  background: #020617; /* slate-950 */
  color: #e2e8f0; /* slate-200 */
  color-scheme: dark;
}
